---
layout: layouts/base.njk
permalink: "songs/index.html"
section: songs
---
<nav aria-labelledby="songs">
    <h2 id="songs">Songs</h2>
    <ol>
        {%- for song in (songs | keys) %}
            <li><a href="{{ (song| slug)}}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>{{song}}</a></li>
        {%- endfor %}
    </ol>
</nav>
